<div class="tabs is-toggle is-fullwidth">
  <ul>
    <li (click)="toggleTab(true)" [ngClass]="{'is-active':tab}">
      <a>
        <span class="icon">
          <fa-icon icon="utensils"></fa-icon>
        </span>
      </a>
    </li>
    <li (click)="toggleTab(false)" [ngClass]="{'is-active':!tab}">
      <a>
        <span class="icon">
          <fa-icon icon="glass-martini"></fa-icon>
        </span>
      </a>
    </li>
  </ul>
</div>
<div  *ngIf="foodStats && fredaEvent">
  <app-kitchenordering *ngIf="tab" [fredaEvent]="fredaEvent" [foodStats]="foodStats"></app-kitchenordering>
  <app-barordering *ngIf="!tab" [fredaEvent]="fredaEvent"></app-barordering>
</div>