<div class="padding">
    <form [formGroup]="dateForm">
        <aside class="menu">
            <ul class="menu-list">
                <p class="menu-label">
                    Pick dates or leave empty for all events.
                </p>
                <div class="field">
                    <div class="control">
                        <input class="input" type="date" placeholder="Date" data-is-range="true" formControlName="Date">
                    </div>
                </div>
                <div class="field">
                    <p class="control">
                        <button class="button is-primary is-fullwidth" (click)="getStats()">
                            Show statistics
                        </button>
                    </p>
                </div>
            </ul>
        </aside>
    </form>
    <div *ngIf="allFoodStats && allEvents">
        <div class="field has-addons margin" *ngIf="allFoodStats.length > 0">
            <p class="control is-expanded">
                <button class="button is-fullwidth is-primary" (click)="prevEvent()" [disabled]="currentIndex == 0">
                    <span>Previous event</span>
                </button>
            </p>
            <p class="control is-expanded">
                <button class="button is-fullwidth is-primary" (click)="nextEvent()"
                    [disabled]="currentIndex == allFoodStats.length-1">
                    <span>Next event</span>
                </button>
            </p>
        </div>
        <div class="card margin" *ngIf="allEvents.length == allFoodStats.length && allEvents.length > 0">
            <header class="card-header">
                <p class="card-header-title">
                    {{allEvents[currentIndex].Title}} - {{allEvents[currentIndex].Time}}
                </p>
            </header>
            <div class="card-content">
                <aside class="menu">
                    <p class="subtitle is-6 no-margin half-padding">Served dishes</p>
                    <table class="table is-fullwidth is-hoverable">
                        <thead>
                            <th><span class="icon">
                                    <fa-icon icon=image></fa-icon>
                                </span></th>
                            <th>Name of Dish</th>
                            <th>#</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let dish of allEvents[currentIndex].Dishes">
                                <td class="is-narrow"><span class="icon">
                                        <fa-icon icon={{icons[dish.Type]}}></fa-icon>
                                    </span></td>
                                <td>{{dish.Title}}</td>
                                <td class="is-narrow">
                                    {{allFoodStats[currentIndex][dish.Type].toPrecision(3)}}/{{dish.Amount.toPrecision(3)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </aside>
            </div>
        </div>
        <div class="card margin" *ngIf="allEvents.length == allFoodStats.length && allEvents.length > 0">
            <header class="card-header">
                <p class="card-header-title">
                    General statistics
                </p>
            </header>
            <div class="card-content">
                <p class="subtitle is-5" *ngIf="fromDate && toDate">({{fromDate}} - {{toDate}})</p>
                <aside class="menu">
                    <p class="subtitle is-6 no-margin half-padding" *ngIf="meanTotal && meanServed">Average number of
                        dishes</p>
                    <table class="table is-fullwidth is-hoverable">
                        <thead>
                            <th><span class="icon">
                                    <fa-icon icon=image></fa-icon>
                                </span></th>
                            <th>Type</th>
                            <th>#</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let type of objectKeys(meanTotal)">
                                <td class="is-narrow">
                                    <span class="icon">
                                        <fa-icon icon={{icons[type]}}></fa-icon>
                                    </span>
                                </td>
                                <td>{{type}}</td>
                                <td class="is-narrow">{{meanServed[type].toPrecision(3)}}/{{meanTotal[type].toPrecision(3)}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="subtitle is-6 no-margin half-padding">Total amount</p>
                    <table class="table is-fullwidth is-hoverable">
                        <thead>
                            <th>Type</th>
                            <th>#</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Events</td>
                                <td class="is-narrow">{{allEvents.length}}</td>
                            </tr>
                            <tr>
                                <td>Mains</td>
                                <td class="is-narrow">{{foodCounter.meat + foodCounter.fish + foodCounter.veg}}</td>
                            </tr>
                            <tr>
                                <td>Desserts</td>
                                <td class="is-narrow">{{foodCounter.dessert}}</td>
                            </tr>
                        </tbody>
                    </table>
                </aside>
            </div>
            <footer class="card-footer">
                <a class="card-footer-item">
                    <span class="icon">
                        <fa-icon icon={{icons.meat}}></fa-icon>
                    </span>
                    <span>{{foodCounter.meat}}</span>
                </a>
                <a class="card-footer-item">
                    <span class="icon">
                        <fa-icon icon={{icons.fish}}></fa-icon>
                    </span>
                    <span>{{foodCounter.fish}}</span></a>
                <a class="card-footer-item">
                    <span class="icon">
                        <fa-icon icon={{icons.veg}}></fa-icon>
                    </span>
                    <span>{{foodCounter.veg}}</span>
                </a>
                <a class="card-footer-item"><span class="icon">
                        <fa-icon icon={{icons.dessert}}></fa-icon>
                    </span>
                    <span>{{foodCounter.dessert}}</span></a>
            </footer>
        </div>
        <div class="card margin" *ngIf="allEvents.length == 0">
            <header class="card-content">
                <p class="title is-4">
                    There are no events in the selected timespan.
                </p>
                <p class="subtitle is-5" *ngIf="fromDate && toDate">({{fromDate}} - {{toDate}})</p>
            </header>
        </div>
    </div>
</div>