<div class="padding fill-height">
  <aside class="menu">
    <ul class="menu-list" *ngIf="auth.Admin()">
      <button routerLink="/newevent" aria-label="create new event" class="button is-primary is-fullwidth">
        Create new event
      </button>
    </ul>
    <p class="menu-label">
      Choose from existing events:
    </p>
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input" type="text" placeholder="Filter" [(ngModel)]="myFilter">
        <span class="icon is-small is-left">
          <fa-icon icon="filter"></fa-icon>
        </span>
      </p>
    </div>
    <ul class="menu-list">
      <span *ngFor="let event of events;">
        <li *ngIf="!myFilter || filter(event)">
          <a routerLink="/event/{{event.id}}">
            <div class="columns is-vcentered is-mobile">
              <div class="column">
                {{event.Title}}
              </div>
              <div class="column is-narrow">
                {{event.Time}}
              </div>
            </div>
          </a>
        </li>
      </span>
    </ul>
  </aside>
</div>