<section class="hero is-fullheight-with-navbar has-background">
  <img class="hero-background" srcset="assets/small-background.jpg 1250w" sizes="(max-height: 1250px) 100vw" src="assets/large-background.jpg" alt="food-background">
  <div class="hero-body">
    <div class="card">
      <div class="card-content">
        <h1 class="title">
          Freda Kitchen & Bar
        </h1>
        <h2 class="subtitle">
          Ordering-application
        </h2>
        <p>
          Here you can order food and drinks, see current orders, and see statistics from old events.
        </p>
        <app-login *ngIf="!auth.isLoggedIn;"></app-login>
      </div>
    </div>
  </div>
</section>