<nav class="navbar is-primary is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" aria-label="startpage" routerLink="">
        <img alt="VG-logo" src="../../../assets/vg.png">
      </a>

      <a role="button" aria-label="show/hide menu" (click)="toggle()" class="navbar-burger burger" [ngClass]="{'is-active':show}" *ngIf="authService.isLoggedIn">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-menu " [ngClass]="{'is-active':show}" *ngIf="authService.isLoggedIn">
      <div class="navbar-end">
        <a class="navbar-item" aria-label="events" routerLink="events" (click)="toggle()">
          <span class="icon">
            <fa-icon icon="calendar"></fa-icon>
          </span>
          <span>Events</span>
        </a>
        <a class="navbar-item" aria-label="stats" routerLink="stats" *ngIf="authService.Admin()"(click)="toggle()">
          <span class="icon">
            <fa-icon icon="chart-bar"></fa-icon>
          </span>
          <span>Stats</span>
        </a>
        <a class="navbar-item" aria-label="log out" (click)="logOut()">
          <span class="icon">
            <fa-icon icon="sign-out-alt"></fa-icon>
          </span>
          <span>Log out</span>
        </a>
      </div>
    </div>
  </div>
</nav>