<div *ngIf="Orders">
  <div class="field has-addons margin" *ngIf="Orders.length > 1">
    <p class="control is-expanded">
      <button class="button is-fullwidth is-primary" (click)="prevOrder()" [disabled]="currentIndex == 0">
        <span>Previous Order</span>
      </button>
    </p>
    <p class="control is-expanded">
      <button class="button is-fullwidth is-primary" (click)="nextOrder()" [disabled]="currentIndex == Orders.length-1">
        <span>Next order</span>
      </button>
    </p>
  </div>
  <div *ngFor="let order of Orders; let idx = index">
    <div class="card margin" *ngIf="idx == currentIndex">
      <header class="card-header" [ngClass]="{'has-background-success':done(idx)}">
        <p class=" card-header-title">
          Table {{order.Table}}, Order: {{idx+1}}
        </p>
        <a *ngIf="!done(idx)" class="card-header-icon has-text-success" aria-label="mark as done"
          (click)="markAsDone(idx)">
          <span class="icon">
            <fa-icon icon=check></fa-icon>
          </span>
        </a>
      </header>
      <div class="card-content">
        <p class="subtitle is-6">Number of dishes: {{order.Foods.length}}</p>
        <aside class="menu margin">
          <p class="menu-label">
            Ordered dishes
          </p>
          <ul class="menu-list">
            <li *ngFor="let food of order.Foods"><a>
                <div class="columns is-mobile">
                  <div class="column">
                    <span class="icon">
                      <fa-icon icon={{icons[food.Type]}}></fa-icon>
                    </span><span>{{food.Type}}</span>
                  </div>
                  <div class="column is-narrow">
                    <div class="columns is-narrow is-multiline">
                      <div class="column is-narrow has-text-centered"
                        *ngFor="let foodpref of objectKeys(food.Allergies)">
                        <p class="quarter-padding" *ngIf="food.Allergies[foodpref]">{{foodpref}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </aside>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item">
          <span class="icon">
            <fa-icon icon={{icons.fish}}></fa-icon>
          </span>
          <span>{{count('fish',order)}}</span>
        </a>
        <a class="card-footer-item">
          <span class="icon">
            <fa-icon icon={{icons.meat}}></fa-icon>
          </span>
          <span>{{count('meat',order)}}</span></a>
        <a class="card-footer-item">
          <span class="icon">
            <fa-icon icon={{icons.veg}}></fa-icon>
          </span>
          <span>{{count('veg',order)}}</span>
        </a>
        <a class="card-footer-item"><span class="icon">
            <fa-icon icon={{icons.dessert}}></fa-icon>
          </span>
          <span>{{count('dessert',order)}}</span></a>
      </footer>
    </div>
  </div>
  <div class="card margin">
    <div class="card-content">
      <p class="title is-5">Ordered dishes</p>
      <div class="columns is-mobile">
        <div class="column">
          <p class="menu-label">
            Mains:
          </p>
          {{counter.fish+counter.meat+counter.veg}}
        </div>
        <div class="column">
          <p class="menu-label">
            Desserts:
          </p>
          {{counter.dessert}}
        </div>
      </div>

      <p class="menu-label">
        Of each kind:
      </p>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item"><span class="icon">
          <fa-icon icon={{icons.fish}}></fa-icon>
        </span>
        <span>{{counter.fish}}</span></a>
      <a class="card-footer-item"><span class="icon">
          <fa-icon icon={{icons.meat}}></fa-icon>
        </span>
        <span>{{counter.meat}}</span></a>
      <a class="card-footer-item"><span class="icon">
          <fa-icon icon={{icons.veg}}></fa-icon>
        </span>
        <span>{{counter.veg}}</span></a>
      <a class="card-footer-item"><span class="icon">
          <fa-icon icon={{icons.dessert}}></fa-icon>
        </span>
        <span>{{counter.dessert}}</span></a>
    </footer>
  </div>

  <div class="card margin">
    <div class="card-content">
      <p class="title is-5">Served dishes</p>
      <div class="columns is-mobile">
        <div class="column">
          <p class="menu-label">
             Mains:
          </p>
          {{counterServed.fish+counterServed.meat+counterServed.veg}}
        </div>
        <div class="column">
          <p class="menu-label">
             Desserts:
          </p>
          {{counterServed.dessert}}
        </div>
      </div>

      <p class="menu-label">
        Of each kind:
      </p>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item"><span class="icon">
          <fa-icon icon={{icons.fish}}></fa-icon>
        </span>
        <span>{{counterServed.fish}}</span></a>
      <a class="card-footer-item"><span class="icon">
          <fa-icon icon={{icons.meat}}></fa-icon>
        </span>
        <span>{{counterServed.meat}}</span></a>
      <a class="card-footer-item"><span class="icon">
          <fa-icon icon={{icons.veg}}></fa-icon>
        </span>
        <span>{{counterServed.veg}}</span></a>
      <a class="card-footer-item"><span class="icon">
          <fa-icon icon={{icons.dessert}}></fa-icon>
        </span>
        <span>{{counterServed.dessert}}</span></a>
    </footer>
  </div>
</div>