<div class="padding">
  <form [formGroup]="eventForm">
    <aside class="menu">
      <ul class="menu-list">
        <div class="field">
          <div class="control has-icons-left">
            <input class="input" aria-label="event title" type="text" placeholder="Title" formControlName="Title">
            <span class="icon is-small is-left">
              <fa-icon icon="utensils"></fa-icon>
            </span>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input class="input" type="date" aria-label="date" placeholder="Date" formControlName="Date">
          </div>
        </div>
        <div class="field has-addons">
          <p class="control">
            <span class="select">
              <select formControlName="Type" aria-label="dishtype">
                <option>Type</option>
                <option value="meat">Meat</option>
                <option value="veg">Veg</option>
                <option value="fish">Fish</option>
                <option value="dessert">Dessert</option>
              </select>
            </span>
          </p>
          <p class="control is-expanded">
            <input class="input" type="text" aria-label="dishname" placeholder="Name of dish"
              formControlName="FoodTitle">
          </p>
          <div class="control">
            <button class="button is-primary" aria-label="add dish" (click)="addDish()">
              <span class="icon">
                <fa-icon icon="plus"></fa-icon>
              </span>
              <span>Add</span>
            </button>
          </div>
        </div>
        <div *ngIf="Dishes.length > 0">
          <p class="menu-label">
            Choosen dishes
          </p>
          <p class="is-size-7">(Press on a dish to add food-preferences)</p>
        </div>
        <li *ngFor="let dish of Dishes; let idx = index">
          <div class="columns is-vcentered is-mobile is-gapless half-padding no-margin">
            <div class="column" (click)="toggleShow(idx)">
              <a>
                <div class="columns is-vcentered is-mobile is-gapless">
                  <div class="column is-narrow">
                    <span class="icon">
                      <fa-icon icon={{icons[dish.Type]}}></fa-icon>
                    </span>{{dish.Title}}
                  </div>
                </div>
              </a>
            </div>
            <div class="column is-narrow">
              <a class="delete margin" (click)="deleteDish(idx)"></a>
            </div>
          </div>
          <ul *ngIf="show[idx]">
            <div class="field has-addons">
              <p class="control">
                <button type="button" class="button is-primary" (click)="decreaseAmount(idx)">
                  <fa-icon icon="minus"></fa-icon>
                </button>
              </p>
              <p class="control is-expanded">
                <input class="input" type="number" placeholder="Amount" [(ngModel)]="this.Dishes[idx].Amount"
                  [ngModelOptions]="{standalone: true}">
              </p>
              <p class="control">
                <button type="button" class="button is-primary" (click)="addAmount(idx)">
                  <fa-icon icon="plus"></fa-icon>
                </button>
              </p>
            </div>
            <div class="field has-addons">
              <p class="control is-expanded">
                <input class="input" type="text" placeholder="Food pref" [(ngModel)]="inputs[idx]"
                  [ngModelOptions]="{standalone: true}">
              </p>
              <div class="control">
                <button type="button" class="button is-primary" (click)="addFoodPref(idx)">
                  <span class="icon">
                    <fa-icon icon="plus"></fa-icon>
                  </span>
                  <span>Add</span>
                </button>
              </div>
            </div>
            <li *ngFor="let allergy of dish.Allergies; let indx = index">
              <div class="columns is-vcentered is-mobile is-gapless half-padding">
                <div class="column">
                  <a>
                    <div class="columns is-vcentered is-mobile is-gapless">
                      <div class="column">
                        {{allergy}}
                      </div>
                    </div>
                  </a>
                </div>
                <div class="column is-narrow">
                  <a class="delete margin" (click)="deleteFoodPref(idx, indx)"></a>
                </div>
              </div>
            </li>
          </ul>
        </li>
        <p class="menu-label">
            Choose people with access:
          </p>
        <div class="field" *ngFor="let user of users">
          <input class="is-checkradio is-dark" id="{{user.email}}" type="checkbox" name="checkbox" (change)="checkValue(user.uid)"/>
          <label for="{{user.email}}">{{user.email}}</label>
        </div>
        <div class="columns is-mobile is-gapless no-padding no-margin">
          <div class="column">
            <button type="submit" class="button is-primary is-fullwidth" (click)="createEvent()">
              <span>Create event</span>
            </button>
          </div>
          <div class="column is-narrow">
            <div class="left-padding">
              <button type="button" class="button is-link" routerLink="/events">
                <span>Cancel</span>
              </button>
            </div>
          </div>
        </div>
      </ul>
    </aside>
  </form>
</div>
<div class="modal" [ngClass]="{'is-active':loading}">
  <div class="modal-background"></div>
  <div class="modal-content fill-height">
    <app-loader></app-loader>
  </div>
</div>