<app-header></app-header>
<div class="container">
    <div class="columns">
        <div class="column is-three-fifths is-offset-one-fifth">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<app-loader></app-loader>