<div *ngIf="Orders">
  <div class="field has-addons margin" *ngIf="Orders.length > 1">
    <p class="control is-expanded">
      <button class="button is-fullwidth is-primary" (click)="prevOrder()" [disabled]="currentIndex == 0">
        <span>Previous Order</span>
      </button>
    </p>
    <p class="control is-expanded">
      <button class="button is-fullwidth is-primary" (click)="nextOrder()" [disabled]="currentIndex == Orders.length-1">
        <span>Next order</span>
      </button>
    </p>
  </div>
  <div *ngFor="let order of Orders; let idx = index">
    <div class="card margin" *ngIf="idx == currentIndex">
      <header class="card-header" [ngClass]="{'has-background-success':done(idx)}">
        <p class=" card-header-title">
          Table {{order.Table}}, Order: {{idx+1}}
        </p>
        <a *ngIf="!done(idx)" class="card-header-icon has-text-success" aria-label="mark as done"
          (click)="markAsDone(idx)">
          <span class="icon">
            <fa-icon icon=check></fa-icon>
          </span>
        </a>
      </header>
      <div class="card-content">
        <p class="subtitle is-6">Number of drinks: {{order.Drinks.length}}</p>
        <aside class="menu margin">
          <p class="menu-label">
            Ordered drinks
          </p>
          <ul class="menu-list">
            <li *ngFor="let drink of order.Drinks">
              <a>
                <div class="columns is-mobile">
                  <div class="column">
                    <span class="icon">
                      <fa-icon icon={{icons[drink.Type]}}></fa-icon>
                    </span><span>{{drink.Title}}</span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </aside>
      </div>
      <footer class="card-footer">
          <a class="card-footer-item">
            <span class="icon">
              <fa-icon icon={{icons.beer}}></fa-icon>
            </span>
            <span>{{count('beer',order)}}</span>
          </a>
          <a class="card-footer-item">
            <span class="icon">
              <fa-icon icon={{icons.wine}}></fa-icon>
            </span>
            <span>{{count('wine',order)}}</span></a>
          <a class="card-footer-item">
            <span class="icon">
              <fa-icon icon={{icons.cocktail}}></fa-icon>
            </span>
            <span>{{count('cocktail',order)}}</span>
          </a>
          <a class="card-footer-item"><span class="icon">
              <fa-icon icon={{icons.alcFree}}></fa-icon>
            </span>
            <span>{{count('alcFree',order)}}</span></a>
        </footer>
    </div>
  </div>
</div>