<div class="half-padding">
  <div class="half-padding">
    <h4 class="subtitle is-size-4 login-title">Login</h4>
    <form (ngSubmit)="authService.login(userEmail.value, userPassword.value)">
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="email" aria-label="email" placeholder="Email" #userEmail required autofocus>
          <span class="icon is-small is-left">
            <fa-icon icon="user"></fa-icon>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="password" aria-label="password" placeholder="Password" #userPassword required>
          <span class="icon is-small is-left">
            <fa-icon icon="lock"></fa-icon>
          </span>
        </p>
      </div>
      <div class="field">
        <div class="control">
          <div class="buttons">
            <button class="button is-link" type="submit">
              Login
            </button>
            <button class="button is-text" type="button" (click)="toggleReset()">Reset password</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="half-padding" *ngIf="resetPass" >
    <form class="form" (ngSubmit)="authService.resetPassword(resetEmail.value)">
      <div class="field">
        <p class="control has-icons-left">
          <input class="input" type="email" aria-label="Reset email" placeholder="Email" #resetEmail required>
          <span class="icon is-small is-left">
            <fa-icon icon="user"></fa-icon>
          </span>
        </p>
      </div>
      <div class="field">
          <div class="control">
            <div class="buttons">
              <button class="button is-link" type="submit">
                Reset Password
              </button>
            </div>
          </div>
        </div>
    </form>
  </div>
</div>