<aside class="menu">
  <ul class="menu-list">
    <p class="menu-label">
      Choose a table
    </p>
    <div class="field">
      <div class="control has-icons-left">
        <input class="input" type="number" placeholder="Tablenumber" [(ngModel)]="Table">
        <span class="icon is-left">
          <fa-icon icon="hashtag"></fa-icon>
        </span>
      </div>
    </div>
    <p class="menu-label">
      Add drinks
    </p>
    <div class="field has-addons">
      <div class="control is-expanded has-icons-left">
        <div class="select is-fullwidth">
          <select name="dish" [(ngModel)]="drink[0]">
            <option value="">Beer</option>
            <option value="Carlsberg Hof">Carlsberg Hof</option>
            <option value="Brooklyn Lager">Brooklyn Lager</option>
            <option value="Brooklyn IPA">Cirrus lager</option>
            <option value="Brooklyn IPA">Brooklyn IPA</option>
          </select>
        </div>
        <span class="icon is-left">
          <fa-icon icon="beer"></fa-icon>
        </span>
      </div>
      <div class="control">
        <button (click)="addDrink(0)" class="button is-link">Add</button>
      </div>
    </div>
    <div class="field has-addons">
      <div class="control is-expanded has-icons-left">
        <div class="select is-fullwidth">
          <select name="dish" [(ngModel)]="drink[1]">
            <option value="">Wine</option>
            <option value="White wine">White wine</option>
            <option value="Red wine">Red wine</option>
            <option value="Prosecco">Prosecco</option>
            <option value="Champagne">Champagne</option>
          </select>
        </div>
        <span class="icon is-left">
            <fa-icon icon="wine-glass-alt"></fa-icon>
          </span>
      </div>
      <div class="control">
        <button (click)="addDrink(1)" class="button is-link">Add</button>
      </div>
    </div>
    <div class="field has-addons">
      <div class="control is-expanded has-icons-left">
        <div class="select is-fullwidth">
          <select name="dish" [(ngModel)]="drink[2]">
            <option value="">Cocktails</option>
            <option value="Mojito">Mojito</option>
            <option value="Gin & Tonic">Gin & Tonic</option>
            <option value="Whiskey Sour">Whiskey Sour</option>
          </select>
        </div>
        <span class="icon is-left">
            <fa-icon icon="cocktail"></fa-icon>
          </span>
      </div>
      <div class="control">
        <button (click)="addDrink(2)" class="button is-link">Add</button>
      </div>
    </div>
    <div class="field has-addons">
      <div class="control is-expanded has-icons-left">
        <div class="select is-fullwidth">
          <select name="dish" [(ngModel)]="drink[3]">
            <option value="">Alcohol-free</option>
            <option value="Soda (alc-free)">Soda</option>
            <option value="Beer (alc-free)">Beer</option>
            <option value="Cider (alc-free)">Cider</option>
            <option value="Wine (alc-free)">Wine</option>
            <option value="Water (alc-free)">Water</option>
          </select>
        </div>
        <span class="icon is-left">
            <fa-icon icon="glass-whiskey"></fa-icon>
          </span>
      </div>
      <div class="control">
        <button (click)="addDrink(3)" class="button is-link">Add</button>
      </div>
    </div>
    <p class="menu-label">
      Choosen beverages
    </p>
    <li *ngFor="let drink of drinks; let idx = index">
      <div class="columns is-vcentered is-mobile is-gapless half-padding no-margin">
        <div class="column">
          <a>{{drink.Title}}</a>
        </div>
        <div class="column is-narrow">
          <a class="delete" (click)="deleteDrink(idx)"></a>
        </div>
      </div>
    </li>
    <div class="field padding">
      <p class="control">
        <button class="button is-primary is-fullwidth" (click)="saveOrder()">
          Order
        </button>
      </p>
    </div>
  </ul>
</aside>