<div class="padding">
  <div class="tabs is-fullwidth">
    <ul>
      <li (click)="toggleTab(true)" aria-label="ordering" [ngClass]="{'is-active':tab}">
        <a>
          <span class="icon">
            <fa-icon icon="receipt"></fa-icon>
          </span>
          <span>Ordering</span>
        </a>
      </li>
      <li (click)="toggleTab(false)" aria-label="orders" [ngClass]="{'is-active':!tab}">
        <a>
          <span class="icon">
            <fa-icon icon="list-ol"></fa-icon>
          </span>
          <span>Orders</span>
        </a>
      </li>
    </ul>
  </div>
  <div [ngSwitch]="tab" *ngIf="fredaEvent">
    <app-ordering *ngIf="tab" [fredaEvent]="fredaEvent"></app-ordering>
    <app-orders *ngIf="!tab" [fredaEvent]="fredaEvent"></app-orders>
  </div>
</div>