<div class="modal" [ngClass]="{'is-active':loading}">
    <div class="modal-background"></div>
    <div class="modal-content fill-height">
        <div class="center">
            <div class="lds-roller">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</div>