<div class="tabs is-toggle is-fullwidth">
    <ul>
      <li (click)="toggleTab(true)" [ngClass]="{'is-active':tab}">
        <a>
          <span class="icon">
            <fa-icon icon="utensils"></fa-icon>
          </span>
        </a>
      </li>
      <li (click)="toggleTab(false)" [ngClass]="{'is-active':!tab}">
        <a>
          <span class="icon">
            <fa-icon icon="glass-martini"></fa-icon>
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div *ngIf="foodOrders">
    <app-kitchenorders *ngIf="tab" [fredaEvent]="fredaEvent" [foodOrders]="foodOrders"></app-kitchenorders>
    <app-barorders *ngIf="!tab" [fredaEvent]="fredaEvent" [drinkOrders]="drinkOrders"></app-barorders>
  </div>