//BULMA STUFF
$VG-Yellow: hsl(48, 97%, 63%) !default;
$VG-Dark: hsl(55, 37%, 18%) !default;

$primary: $VG-Yellow !default;
$primary-invert: $VG-Dark !default;
$link: $VG-Dark !default;
$fullhd-enabled: false;
$column-gap: 0rem;
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-calendar/src/sass/index.sass";
@import"../node_modules/bulma-checkradio/src/sass/index.sass";

body,
html {
  height: 100%;
}
.lds-roller div:after {
  background-color: $VG-Yellow;
}
*{
  touch-action: manipulation;
}

//Variables
$myPadding: 0.75rem;

.padding {
  padding: $myPadding;
}
.left-padding {
  padding: 0 0 0 $myPadding;
}
.half-padding {
  padding: $myPadding/2;
}
.quarter-padding {
  padding: $myPadding/4;
}
.margin {
  margin: $myPadding;
}
.half-margin {
  margin: $myPadding/2;
}
.no-padding {
  padding: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.fill-height {
  height: 100%;
}
.fill {
  display: flex;
  flex: auto;
}
.center-content {
  align-items: center;
  justify-content: center;
}
.right {
  flex-direction: row-reverse;
}
.chartdiv {
  height: 500px;
}
.hero {
  &.has-background {
    .hero-background {
      position: fixed;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center center;
      width: 100vw;
      height: 100vh;
    }
    .hero-body {
      z-index: 2;
      .card {
        background-color: rgba(255, 255, 255, 0.8);
        .login-title {
            margin-bottom:0.75rem;
        }
      }
    }
  }
  &.is-fullheight-with-navbar.has-background {
    .hero-background {
      top: 3.25rem;
      height: calc(100vh - 3.25rem);
    }
  }
}
