<aside class="menu">
  <ul class="menu-list">
    <p class="menu-label">
      Choose a table
    </p>
    <div class="field">
      <div class="control has-icons-left">
        <input class="input" type="number" placeholder="Tablenumber" [(ngModel)]="Table">
        <span class="icon is-left">
          <fa-icon icon="hashtag"></fa-icon>
        </span>
      </div>
    </div>
    <p class="menu-label">
      Add dishes
    </p>
    <div class="field has-addons">
      <div class="control is-expanded has-icons-left">
        <div class="select is-fullwidth">
          <select name="dish" [(ngModel)]="currentDish">
            <option value="">Dishes</option>
            <option *ngFor="let dish of dishes" value="{{dish.Type}}">{{dish.Title}}</option>
          </select>
          <span class="icon is-left">
            <fa-icon icon="utensils"></fa-icon>
          </span>
        </div>
      </div>
      <div class="control">
        <button (click)="addDish()" class="button is-link">Add</button>
      </div>
    </div>
    <p class="menu-label">
      Available food
    </p>
    <div class="columns is-mobile has-text-centered no-margin">
      <div class="column" *ngFor="let dish of dishes">
        <span
          [ngClass]="{'has-text-danger': textWarnings(dish) == 0, 'has-text-warning': textWarnings(dish) == 1 , 'has-text-success': textWarnings(dish) == 2}">
          <span>
            <fa-icon icon={{icons[dish.Type]}}></fa-icon>
          </span>
          <span>{{dish.Amount - count([dish.Type])}}/{{dish.Amount}}</span>
        </span>
      </div>
    </div>
    <p class="menu-label">
      Chosen dishes
    </p>
    <p class="is-size-7">(Press to add food preferences)</p>
    <li *ngFor="let food of foods; let idx = index">
      <div class="columns is-vcentered is-mobile is-gapless half-padding no-margin">
        <div class="column" (click)="toggleShow(idx)">
          <a>
            <div class="columns is-vcentered is-mobile is-gapless">
              <div class="column is-narrow">
                <span class="icon">
                  <fa-icon icon={{icons[food.Type]}}></fa-icon>
                </span>{{food.Type}}
              </div>
              <div class="column">
                <div class="columns is-mobile is-multiline is-gapless right no-margin">
                  <div class="column is-narrow" *ngFor="let allergy of objectKeys(food.Allergies)">
                    <span class="quarter-padding" *ngIf="food.Allergies[allergy]">{{allergy}}</span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="column is-narrow">
          <a class="delete margin" (click)="deleteDish(idx)"></a>
        </div>
      </div>
      <span *ngIf="objectKeys(food.Allergies).length > 0">
        <ul *ngIf="show[idx]">
          <div class="columns is-mobile is-multiline is-gapless">
            <div class="column is-half-mobile" *ngFor="let allergy of objectKeys(food.Allergies)">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="food.Allergies[allergy]">
                {{allergy}}
              </label>
            </div>
          </div>
        </ul>
      </span>
    </li>
    <div class="field padding">
      <p class="control">
        <button class="button is-primary is-fullwidth" (click)="saveOrder()">
          Order
        </button>
      </p>
    </div>
  </ul>
</aside>